<!-- ###myform### begin-->

    <table width="40%">
		<tr>
			<td valign="top"><span class="labelu">{loggeduser}</span></td>
			<td valign="top">{help}</td>
    	</tr>
	</table>
	{boxMessage}
	
	<div style="margin-left: 50px; margin-top: 10px;">
	   <span class="button">{print.input}</span>
	       	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	   <span class="button">{exportexcel1.input}</span>
	       	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	</div>
	  <br/>
      
<!-- ###pages### begin-->

  <div class="pages">{pages}</div>
      
      <!-- ###ROWS### begin-->
      <!-- ###ROW### begin-->
      

      <!-- ###ROW### end-->
      <!-- ###ROWS### end-->
      
      <!-- ###pages### end-->	
<!-- ###myform### end-->
    