<!-- ###FORM### begin-->
	<span class="labelu">{loggeduser}</span>

  <table "border="0" class="usertable">
  	<tr>
	    <td colspan="3" style="padding-left: 20px;"><span class="error" >{message} </span></td>
	</tr>
    <tr>
	    <td style="padding-left: 10px;"><span class="label">{uid.label} : </span> </td>
        <td style="padding-left: 4px;">{uid.value.readable}</td>
    </tr>
    <tr>
	    <td style="padding-left: 10px;"><span class="label">{username.label} : </span> </td>
        <td style="padding-left: 4px;"> <span class="inputvalue">{username.input}</span></td>
		<td style="padding-left: 4px;"><span class="error">{username.error}</span></td>
    </tr>
	
    <tr>
	<td style="padding-left: 10px;"><span class="label">{password.label} : </span> </td>
        <td style="padding-left: 4px;"> <span class="inputvalue">{password.input}</span></td>
		<td style="padding-left: 4px;"><span class="error"> {password.error}</span></td>
	</tr>
	<tr>
        <td style="padding-left: 10px;"><span class="label">{description.label} : </span> </td>
        <td style="padding-left: 4px;"> <span class="inputvalue">{description.input}</span></td>		
		<td style="padding-left: 4px;"><span class="error"> {description.error}</span></td>
    </tr>

    <tr>
	    <td style="padding-left: 10px;"><span class="label">{name.label} : </span> </td>
        <td style="padding-left: 4px;"> <span class="inputvalue">{name.input}</span></td>
		<td style="padding-left: 4px;"><span class="error"> {familyname.error}</span></td>
    </tr>

    <tr>
	<td style="padding-left: 10px;"><span class="label">{first_name.label} : </span> </td>
        <td style="padding-left: 4px;"> <span class="inputvalue">{first_name.input}</span></td>
    </tr>

    <tr>
	<td style="padding-left: 10px;"><span class="label">{title.label} : </span> </td>
        <td style="padding-left: 4px;"> <span class="inputvalue">{title.input}</span></td>
    </tr>

    <tr>
	    <td style="padding-left: 10px;"><span class="label">{address.label} : </span> </td>
        <td style="padding-left: 4px;"> <span class="inputvalue">{address.input}</span></td>
    </tr>

    <tr>
	<td style="padding-left: 10px;"><span class="label">{email.label} : </span> </td>
        <td style="padding-left: 4px;"> <span class="inputvalue">{email.input}</span></td>
		<td style="padding-left: 4px;"><span class="error"> {email.error}</span></td>
    </tr>

    <tr>
	    <td style="padding-left: 10px;"><span class="label">{city.label} : </span> </td>
        <td style="padding-left: 4px;"> <span class="inputvalue">{city.input}</span></td>
    </tr>

    <tr>
	    <td style="padding-left: 10px;"><span class="label">{country.label} : </span> </td>
        <td style="padding-left: 4px;"> <span class="inputvalue">{country.input}</span></td>
    </tr>

    <tr>
	    <td style="padding-left: 10px;"><span class="label">{zip.label} : </span> </td>
        <td style="padding-left: 4px;"><span class="inputvalue">{zip.input}</span></td>
    </tr>
    <tr>
	    <td style="padding-left: 10px;"><span class="label">{usergroup.label} : </span> </td>
        <td style="padding-left: 14px;"><span class="radio">{usergroup.input}</span></td>
		<td style="padding-left: 4px;"><span class="error"> {usergroup.error}</span></td>
    </tr>
  </table>

<span class="label">&nbsp;</span>{button_submit}  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="label">&nbsp;</span><strong>{button_newrecord}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<strong>{annuler}</strong>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<span class="blinking">{confirm.html}</span>	
		
       <!-- ###FORM### end-->
    