<!-- ###FORM### begin-->

    <table width="80%">
		<tr>
			<td valign="top"><span class="labelu">{loggeduser}</span></td>
			<td valign="top">{help}</td>
			<td valign="top"><span class="labelt">{message}</span></td>
    	</tr>
	</table>
<br/>
{showberater}
<hr class="horizline"/>
<div>	
		<span class="nowrap"><span class="label">{berater.label}* : </span><span class="inputvalue">{berater.input}</span>     <span class="error">{berater.error}</span></span>
		<span class="nowrap"><span class="label">{association.label} </span><span class="inputvalue">{association.input}</span> <span class="error">{association.error}</span></span>
<br/>
<br/>
   	{button_submit} 
	 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 <strong>{button_newrecord}</strong>  
	 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 <strong>{annuler}</strong>  
	 	&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	 <span class="blinking">{confirm.html}</span>  </div>
	
<!-- ###FORM### end-->

	